@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Rubik", sans-serif;
    color: white;
    
}

html {
    
    background-image: url('bg.svg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  